.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  position: relative;
}
.product-container .emptycart-message{
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translate(50%,-50%);
}
#checkout-home-link::before{
  content: url('./assets/home.svg');
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.cartItems{
  margin-top: 3rem;
  margin-left: 2rem
}
.cartItems .cartItem{
  max-width: 500px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  box-shadow: 1px 3px 3px rgba(128, 128, 128, 0.189);
}
.cartItem .cartItem-title{
  grid-area: 1/2/2/3; 
  /* place-content works in flexbox n grid */
  place-content: center;
  font-size: 1.2rem;
}
.cartItem .cartItem-img{
  display: flex;
  width: 200px;
  height: 150px;
}
.cartItem-img img{
  max-width: 100%;
  max-height: 100%;
}
.checkout-sec{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-right: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 1px 3px 3px rgba(128, 128, 128, 0.189);
}
.checkout-sec .title{
  font-size: 2rem;
}
.checkout-detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3rem;
}
.checkout-detail ul li{
  text-align: left;
}
.checkout-total .title{
  font-size: 2rem;
}


